# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
venv/

# Git
.git

# Node
node_modules/

# Logs
*.log

# 🔥 CRITICAL FOR YOU
chromadb/
chroma/
raglens-chroma-db/
data/
uploads/
*.pdf
*.csv

# OS
.DS_Store